.u-section-1 {
  background-image: url("images/90PERCENT.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 406px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-2 {
  width: 793px;
  font-style: normal;
  font-weight: 700;
  margin: 20px 174px 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1050px;
  margin: 54px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 662px;
}

.u-section-1 .u-list-item-1 {
  background-size: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 256px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-group-1 {
  width: 221px;
  min-height: 286px;
  background-size: auto;
  height: auto;
  margin: -256px auto 0 274px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  margin: 20px 2px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 256px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-group-2 {
  width: 221px;
  min-height: 286px;
  background-size: auto;
  height: auto;
  margin: -256px auto 0 274px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  margin: 20px 2px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 256px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-group-3 {
  width: 221px;
  min-height: 286px;
  background-size: auto;
  height: auto;
  margin: -256px auto 0 274px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 20px 2px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-1 .u-image-4 {
  width: 255px;
  height: 256px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-group-4 {
  width: 221px;
  min-height: 286px;
  background-size: auto;
  height: auto;
  margin: -256px auto 0 274px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: normal;
  margin: 20px 2px 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 74px;
    margin-right: 74px;
  }

  .u-section-1 .u-list-1 {
    width: 970px;
    margin: 28px -15px -432px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 20px;
  }

  .u-section-1 .u-group-1 {
    width: 195px;
    margin-right: 20px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 195px;
    margin-right: 20px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: 20px;
  }

  .u-section-1 .u-group-3 {
    width: 195px;
    margin-right: 20px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: 20px;
  }

  .u-section-1 .u-group-4 {
    width: 195px;
    margin-right: 20px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 485px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1354px;
  }

  .u-section-1 .u-text-4 {
    width: 134px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 134px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: 134px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: 134px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-1 .u-text-1 {
    width: 405px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2600px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 31px;
  }

  .u-section-1 .u-list-1 {
    width: 345px;
    margin: 31px -3px 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2232px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -53px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 268px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: -53px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: 180px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -53px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    width: 268px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: -53px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    width: 180px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -53px;
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    width: 268px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: -53px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
  }

  .u-section-1 .u-text-8 {
    width: 180px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -53px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    width: 268px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: -53px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
  }

  .u-section-1 .u-text-10 {
    width: 180px;
  }
}