.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

.u-section-1 .u-text-1 {
  width: 406px;
  font-size: 3rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  width: 793px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 34px 0 25px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 448px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 402px;
  width: 225px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 221px;
  height: 218px;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-group-2 {
  width: 221px;
  min-height: 180px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  font-size: 1rem;
  margin: 13px 2px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 124px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 402px;
  width: 225px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 221px;
  height: 218px;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-group-4 {
  width: 221px;
  min-height: 180px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  font-size: 1rem;
  margin: 13px 2px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 369px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 402px;
  width: 226px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: none;
  width: 221px;
  height: 218px;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-group-6 {
  width: 221px;
  min-height: 180px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 22px 1px 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  font-size: 1rem;
  margin: 15px 2px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 16px auto 0 40px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 64px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-group-7 {
  min-height: 402px;
  width: 225px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 221px;
  height: 218px;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-group-8 {
  width: 221px;
  min-height: 180px;
  background-size: auto;
  background-image: none;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-10 {
  font-style: normal;
  font-size: 1rem;
  margin: 13px 2px 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-1 .u-group-1 {
    min-height: 323px;
    width: 176px;
  }

  .u-section-1 .u-image-1 {
    width: 172px;
    height: 142px;
  }

  .u-section-1 .u-group-2 {
    width: 172px;
    min-height: 177px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-group-3 {
    min-height: 323px;
    width: 176px;
  }

  .u-section-1 .u-image-2 {
    width: 172px;
    height: 142px;
  }

  .u-section-1 .u-group-4 {
    width: 172px;
    min-height: 177px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 359px;
  }

  .u-section-1 .u-group-5 {
    min-height: 323px;
    width: 176px;
  }

  .u-section-1 .u-image-3 {
    width: 172px;
    height: 142px;
    margin-left: 2px;
  }

  .u-section-1 .u-group-6 {
    min-height: 177px;
    width: 172px;
    margin-left: 2px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-7 {
    width: 131px;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 359px;
  }

  .u-section-1 .u-group-7 {
    min-height: 323px;
    width: 176px;
  }

  .u-section-1 .u-image-4 {
    height: 142px;
    width: 173px;
  }

  .u-section-1 .u-group-8 {
    width: 173px;
    min-height: 177px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 1px;
    padding-left: 1px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-10 {
    width: 137px;
    font-size: 0.875rem;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-1 .u-group-1 {
    min-height: 251px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 130px;
    height: 106px;
    margin-left: 14px;
  }

  .u-section-1 .u-group-2 {
    width: 130px;
    min-height: 144px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    padding: 9px 16px 10px 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-1 .u-group-3 {
    min-height: 270px;
    width: 130px;
  }

  .u-section-1 .u-image-2 {
    width: 130px;
    height: 106px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    padding: 9px 16px 10px 15px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-1 .u-group-5 {
    min-height: 270px;
    width: 130px;
  }

  .u-section-1 .u-image-3 {
    width: 130px;
    height: 106px;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    min-height: 144px;
    width: 130px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: 17px;
    padding: 9px 16px 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 300px;
  }

  .u-section-1 .u-group-7 {
    min-height: 254px;
    width: 130px;
  }

  .u-section-1 .u-image-4 {
    width: 130px;
    height: 106px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-8 {
    min-height: 144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    padding: 9px 17px 10px 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1558px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 162px;
    width: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 160px;
    width: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    padding: 12px 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    min-height: 324px;
    width: 235px;
  }

  .u-section-1 .u-image-2 {
    height: 162px;
    width: 235px;
  }

  .u-section-1 .u-group-4 {
    min-height: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    padding: 12px 18px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-5 {
    min-height: 324px;
    width: 235px;
  }

  .u-section-1 .u-image-3 {
    height: 162px;
    width: 235px;
  }

  .u-section-1 .u-group-6 {
    min-height: 160px;
    width: 235px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    padding: 12px 18px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-group-7 {
    min-height: 324px;
    width: 235px;
  }

  .u-section-1 .u-image-4 {
    height: 162px;
    width: 235px;
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-group-8 {
    min-height: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    width: 149px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    padding: 12px 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-group-1 {
    min-height: 321px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 155px;
  }

  .u-section-1 .u-text-4 {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-1 .u-group-3 {
    min-height: 331px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-group-4 {
    min-height: 166px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 247px;
  }

  .u-section-1 .u-group-5 {
    min-height: 318px;
  }

  .u-section-1 .u-group-6 {
    min-height: 155px;
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 285px;
  }

  .u-section-1 .u-group-7 {
    min-height: 319px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
  }

  .u-section-1 .u-group-8 {
    min-height: 156px;
    margin-top: 20px;
    margin-bottom: initial;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}.body {
	height: 90%;
}