 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4848px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 61px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 26px 182px 60px 155px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 803px;
    margin-left: 55px;
    margin-right: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}